body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    max-width: 320px;
    margin: 0px auto;
    user-select: none;
    background-color: #151827;
  }
  .container{
    background-color: white;
    padding: 10px;
    border-radius: 1rem;
    margin: 1rem 0;
  }

  
  h1 {
    padding: 10px 5px;
    color: white;
    font-size: 24px;
    text-transform:uppercase;
    text-align: center;
    background-color: #364077;
    
  }
  
  form {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items:start;
    margin: 0 auto;
  }
  
  label {
    font-weight: bold;
    font-size: 14px;
  }

  input[type="number"] {
    width:90%;
    padding: .6rem;
    margin: 1rem 0;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
  }
  
  button {
    
    background-color: #4c589c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    margin: 10px 0;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
  }
  
  button:hover {
    background-color: #272d53;
    transition: background-color .3s ease-in;
  }


  #gender{
    margin: .5rem 0;
    padding: .3rem;
  }
  
  #result {
    display: none;
    text-align: center;
    margin: 20px;
  }
  
  #result p {
    font-size: 20px;
    margin: 10px 0;
  }
  
  #result button {
    margin-top: 1rem;
  }

    